
    <!-- Team Section - Home Page -->
    <section id="team" class="team">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Meet Our Expert IT Consulting Team</h2>
          <p>At interneduTech, we take pride in our team of highly skilled and experienced IT consultants. We believe that the success of our clients is directly linked to the expertise and dedication of our team members. Get to know the professionals who will be working tirelessly to empower your business through our IT consulting services:</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/media/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Raj Aryan</h4>
                <span>Web Developer</span>
                <p>Raj brings a wealth of experience in IT consulting, specializing in Data Analysis. With a strong background in Web Development, Raj has successfully delivered numerous IT projects and helped businesses achieve their technology goals. Their passion for innovation and problem-solving ensures that they provide the best solutions for our clients.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/media/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Nikita</h4>
                <span>Analyst</span>
                <p>Nikita is a seasoned IT consultant known for their exceptional analytical skills and attention to detail. They have a proven track record of delivering results-driven solutions in Analytics. With their comprehensive understanding of emerging technologies and industry trends, Nikita is committed to helping businesses harness the power of technology for growth and success.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/media/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4> Rahul</h4>
                <span>Manager</span>
                <p>As a Manager, Rahul brings a unique perspective to our IT consulting team. With expertise in Management, they have a keen eye for identifying opportunities and developing innovative strategies to optimize IT infrastructure and streamline processes. Their strong communication skills and ability to collaborate with clients make them a valuable asset in delivering successful IT projects.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/media/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Ria</h4>
                <span>Accountant</span>
                <p>Ria is an accomplished IT consultant with a focus on Accounting. They have a deep understanding of the challenges businesses face in today's digital landscape and excel in developing practical solutions. Their strong project management skills, coupled with their technical proficiency, enable them to guide clients through complex IT initiatives and achieve sustainable results.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
              <div class="member-img">
                <img src="/media/assets/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Harshita</h4>
                <span>Marketing</span>
                <p>Harshita is a dedicated IT consultant with expertise in Marketing. They possess a broad range of skills, including [relevant skills or qualifications], allowing them to tackle diverse IT challenges. Their commitment to delivering exceptional service and their ability to adapt to evolving technologies make them an invaluable resource for our clients.</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="/media/assets/img/team/team-6.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Ishika</h4>
                <span>Operation</span>
                <p>Ishika is a dedicated IT consultant with expertise in Operation. They possess a broad range of skills, including [relevant skills or qualifications], allowing them to tackle diverse IT challenges. Their commitment to delivering exceptional service and their ability to adapt to evolving technologies make them an invaluable resource for our clients.</p>
              </div>
            </div><!-- End Team Member -->
  
          </div>
  
        </div>
  
      </section><!-- End Team Section -->