    
{% extends 'main/base.html' %}
{% block start %}
    <!-- Features Section - Home Page -->
    <section id="features" class="features">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Discover the Key Features of Our IT Consulting Services</h2>
          <p>At interneduTech, we offer comprehensive IT consulting services designed to empower businesses across various industries. Our dedicated team of experts is committed to providing you with the best solutions to enhance your technological capabilities and drive business growth. Here are some key features that set us apart:</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3>Internship in Web development</h3>
              <p>
                An internship in web development is a valuable opportunity for individuals who want to gain practical experience and hands-on skills in designing, building, and maintaining websites and web applications. These internships are typically offered by companies, startups, or organizations looking to bring on board aspiring web developers.
              </p>
              <a href="https://forms.gle/zmFLVUzUBfbdLkMc6" class="btn btn-get-started">Get Started</a>
            </div>
            <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="/media/assets/img/code.jpg" alt="" class="stack-front">
                <img src="/media/assets/img/laptopcode.jpg" alt="" class="stack-back">
              </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3>Internship in Machine Learning</h3>
              <p>
                "Explore our diverse machine learning internships and gain hands-on experience in cutting-edge AI projects. Launch your career with industry-leading companies." 
              </p>
                    <a href="https://forms.gle/zmFLVUzUBfbdLkMc6" class="btn btn-get-started">Get Started</a>
            </div>
            <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="/media/assets/img/robot.jpg" alt="" class="stack-front">
                <img src="/media/assets/img/techno.jpg" alt="" class="stack-back">
              </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3> AI Internship Opportunities</h3>
              <p>
                Explore exciting AI internship opportunities with Merchynt. Unlock your potential with hands-on projects and mentorship from industry professionals."       
            </p>
            <a href="https://forms.gle/zmFLVUzUBfbdLkMc6" class="btn btn-get-started">Get Started</a>   </div>
            <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="/media/assets/img/techno.jpg" alt="" class="stack-front">
                <img src="/media/assets/img/code.jpg" alt="" class="stack-back">
              </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item">
            <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h3>  Data Science Internship</h3>
              <p>
                "Embark on a data science internship journey with Merchynt. Gain hands-on experience with big data and analytics projects."      
            </p>
            <a href="https://forms.gle/zmFLVUzUBfbdLkMc6" class="btn btn-get-started">Get Started</a> 
            </div>   <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="image-stack">
                <img src="/media/assets/img/Datas.jpg" alt="" class="stack-front">
                <img src="/media/assets/img/datas2.jpg" alt="" class="stack-back">
              </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-stretch justify-content-between features-item ">
            <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
              <img src="/media/assets/img/laptopcode.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
              <h3>Internship in Python</h3>
              <p>Are you looking to kickstart your career in Python by showcasing your skills through a captivating website? Look no further! . Python is one of the most popular programming languages, and building a website to demonstrate your skills can be a game-changer in today's competitive job market. So, let's dive in and explore the exciting world of Python internships !.</p>
              <ul>
                <li><i class="bi bi-check"></i> <span>AI</span></li>
                <li><i class="bi bi-check"></i><span>Machine Learning</span></li>
                <li><i class="bi bi-check"></i> <span>Data structure</span>.</li>
                <li><i class="bi bi-check"></i> <span>C and C++</span>.</li>
              </ul>
              <a href="https://forms.gle/zmFLVUzUBfbdLkMc6" class="btn btn-get-started align-self-start">Get Started</a>
            </div>
          </div><!-- Features Item -->
  
        </div>
  
      </section><!-- End Features Section -->

      {% endblock %}